{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB888",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "section": "IntFlashSection",
    "extra_section": "IntFlashSection",
    "images": {
      "shade1.png": {
        "format": "ARGB8888"
      },
      "Trailerlatched.png": {
        "format": "ARGB8888"
      },
      "TrailerRaised.png": {
        "format": "ARGB8888"
      },
      "TrailerUnlatched.png": {
        "format": "ARGB8888"
      },
      "TruckLatched.png": {
        "format": "ARGB8888"
      },
      "TruckRaised.png": {
        "format": "ARGB8888"
      },
      "TruckUnlatched.png": {
        "format": "ARGB8888"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "24",
    "font_format": "0"
  }
}